/*
COLOR PALETTE
#F1F3F3 - light shades, almost white
#738484 - accent, dusty blue
#6F737A - main color, dusty purple
#73847D - accent, dusty sage
#1C171D - dark shades, almost black
*/


/* Global styles
------------------------------------*/

/*
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*/

body {
  color: #F1F3F3;
  margin: 0;
  padding: 0;
}
.default-styles {
    font-family: 'Open Sans', sans-serif;
}

a {
  color: #738484;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
p, li {
  font-size: 15px;
  line-height: 1.5;
}

li {
  padding-left: 10px;
}

/* Header
------------------------------------*/
header {
  background: #a69fad;
  color: #F1F3F3;
  padding-top: 20px;
  padding-bottom: 1px;
}

.title {
    font-family: 'Permanent Marker', cursive; 
}

.menu-bar {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #F1F3F3;
    text-decoration: none;
}

.menu-bar > li {
    display: inline;
}

li .menu-bar:hover {
    text-decoration: underline;
}